button {
  background-color: #F53A4C;
  width: auto;
  padding: 8px 24px;
  border: 2px solid #F53A4C;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  transition: .5s;
}

button:hover {
  background-color: transparent;
  border: 2px solid #F53A4C;
  color: #F53A4C;
}
